<ion-view view-title="New Topic">
    <ion-nav-buttons side="primary">
        <button class="button-clear" ng-click="go_back()"><i class="ion-arrow-left-c"></i>Topics</button>
    </ion-nav-buttons>

    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">What</span>
                <!--input type="text" placeholder="What" ng-model="topic.what" ng-change="search()"/-->
                <input type="text" placeholder="What" ng-model="topic.what"/>
            </label>

            <label ng-model="topic.where" class="item item-input item-floating-label">
                <span class="input-label">Where: {{topic.where.title}}</span>
                <!--input type="text" placeholder="Where" ng-model="topic.where"/-->
                <!--input ion-autocomplete ng-model="topic.where"/-->
                <!--div auto-completer data="locs" ng-model="topic.where" placeholder="asdasd"></div-->
                <angucomplete id="where-autocomplete"
                              placeholder="Where"
                              pause="300"
                              selectedobject="topic.where"
                              localdata="locations"
                              titlefield="name"
                              searchfields="name"
                              minlength="1"
                              input-class="form-control"
                />
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Description</span>
                <textarea type="text" rows="4" style="resize: none;" placeholder="Description" ng-model="topic.description"></textarea>
            </label>

            <label class="item">
                <button class="button button-clear button-positive" ng-click="show_participants()">
                    <i class="icon ion-android-contacts" style="padding-right: 15px;"></i>
                    Select Participants
                </button>
            </label>

            <label class="item range">
                <i class="icon ion-ios-timer-outline"></i>
                <input type="range" ng-model="topic.destruct_date" max="30"/>
                <p>Destruct in {{topic.destruct_date}} days.</p>
            </label>

            <button 
            class="item button button-block button-balanced" 
            style="margin: 10px auto 0 auto; width: 75%;" ng-click="save_topic()">
                Create Topic
            </button>
        </div>
    </ion-content>
</ion-view>
