<ion-view title="Share">
    <ion-nav-buttons side="primary">
        <button class="button-clear" ng-click="go_back()"><i class="ion-arrow-left-c"></i>Topics</button>
    </ion-nav-buttons>

    <ion-content>
        <button class="button button-full button-balanced icon-left ion-social-whatsapp" ng-click="share_whatsapp()">
            Share on WhatsApp
        </button>
        <button class="button button-full button-positive icon-left ion-social-facebook" ng-click="share_facebook()">
            Share on Facebook
        </button>
        <button class="button button-full button-calm icon-left ion-social-twitter" ng-click="share_twitter()">
            Share on Twitter
        </button>
    </ion-content>
</ion-view>
