<ion-view>
    <ion-nav-title>{{topic.what}}</ion-nav-title>

    <ion-nav-buttons side="primary">
        <button class="button-clear" ng-click="go_back()"><i class="ion-arrow-left-c"></i>Topics</button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
            <ion-item>
                <h2>What</h2>
                <p>{{topic.what}}</p>
            </ion-item>
            <ion-item>
                <h2>Where</h2>
                <p>{{topic.where}}</p>
            </ion-item>
            <ion-item>
                <h2>Description</h2>
                <p>{{topic.description}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
