<ion-view view-title="Topics">
<ion-content>
    <ion-list>
        <ion-item class="item" ng-repeat="topic in topics" ui-sref="topic({topic_id: topic._id})">
            <h2>{{topic.what}}<h2>
            <p>{{topic.owner.uname}}</p>
            <span class="item-note">{{topic.date | date: 'yyyy/MM/dd h:mma'}}</span>
        </ion-item>
    </ion-list>
    <!-- <div class="list">
        <a class="item" ng-repeat="topic in topics" ui-sref="topic({topic_id: topic._id})">
            <h2>{{topic.what}}<h2>
            <p>{{topic.owner.uname}}</p>
        </a>
    </div> -->
<ion-content>
</ion-view>
