<ion-view>
    <ion-nav-title>{{topic.what}}</ion-nav-title>
    <ion-content>
        <ion-list>
            <ion-item>
                <h2>What</h2>
                <p>{{topic.what}}</p>
            </ion-item>
            <ion-item>
                <h2>Where</h2>
                <p>{{topic.where}}</p>
            </ion-item>
            <ion-item>
                <h2>Description</h2>
                <p>{{topic.description}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
