<ion-view>
    <ion-nav-title>{{topic.what}}</ion-nav-title>

    <ion-nav-buttons side="primary">
        <button class="button-clear" ng-click="go_back()"><i class="ion-arrow-left-c"></i>Topics</button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
            <ion-item>
                <h2>What</h2>
                <p>{{topic.what}}</p>
            </ion-item>
            <ion-item>
                <h2>Where</h2>
                <p>{{topic.where}}</p>
            </ion-item>
            <ion-item class="item-text-wrap">
                <h2>Description</h2>
                <p>{{topic.description}}</p>
            </ion-item>
        </ion-list>

        <h4 class="title" style="text-align: center;">
            Messages
        </h4>

        <div ng-repeat="msg in topic.messages">
            <div class="card item item-text-wrap stable-bg">
                {{msg.text}}
                <span class="item-note">{{msg.sender_name + ' - ' + (msg.date | date: 'yyyy/MM/dd h:mma')}}</span>
            </div>
        </div>
    </ion-content>

    <form name="sendMessageForm" ng-submit="send_message()" novalidate>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach
        style="overflow: visible !important;">
            <label class="item-input-wrapper" style="background-color: #f4f4f4 !important;">
                <textarea ng-model="message" value="" placeholder="Give an advice..." required minlength="1" maxlength="1500" msd-elastic style="resize: none; height: 25px; background-color: #f4f4f4 !important; width: 100%;"></textarea>
            </label>
            <div class="footer-btn-wrap" style="position: relative; height: 100%; width: 50px; top: 7px;">
                <button class="button button-icon icon ion-android-send footer-btn" type="submit" style="padding-top: 2px; position: absolute !important; bottom: 0;"
                ng-disabled="!message">
                </button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>
