<ion-view view-title="Responses" cache-view="false">
    <!--ion-nav-buttons side="right">
        <a class="button button-icon icon ion-plus-round" ui-sref="tab.newTopic"></a>
    </ion-nav-buttons-->
    <ion-content class="padding">
        <ion-refresher
            pulling-text="Pull to refresh response list..."
            on-refresh="refresh()">
        </ion-refresher>
        <div
            style="text-align: center; margin: auto;"
            ng-if="responses.length === 0">
            No response request is found.
        </div>
        <ion-accordion one-at-a-time="true">
            <accordion-item
                ng-repeat="r in responses"
                title-text="Added by: {{r.addedBy.uname}} -
                            {{idToDate(r._id) | date: 'dd MMM y'}}">
                <div>
                    <strong>What:</strong>{{r.parentTopic.what}}</br>
                    <strong>Where:</strong>{{r.parentTopic.where}}<br>
                    <strong>Description:</strong>{{r.parentTopic.description}}<br>
                </div>
                <button
                    class="button button-icon icon ion-compose"
                    ng-click="forwardResponse(r)"
                    ng-disabled="r.isFulfilled">
                </button>
                <button class="button button-icon icon ion-forward"
                        ng-click="forwardResponse(r)">
                </button>
            </accordion-item>
        </ion-accordion>
    </ion-content>
</ion-view>
