<ion-view view-title="My Topics" cache-view="false">
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-plus-round" ui-sref="tab.newTopic"></a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-refresher
            pulling-text="Pull to refresh topics..."
            on-refresh="syncTopics()">
        </ion-refresher>
        <div
            ng-if="topics.length === 0"
            style="margin-top: 20px; text-align: center;"
            >
            No topics to show.
        </div>
        <ion-list>
            <ion-item
                ng-repeat="topic in topics"
                href="#/tab/topics/{{topic._id}}">
                <strong>What:</strong> {{topic.what}}</br>
                <strong>Where:</strong> {{topic.where}}</br>
                <strong>Description:</strong> {{topic.description}}
                <div class="item-icon-right">
                    <i class="icon ion-chevron-right"></i>
                </div>
            </ion-item>
        <ion-list>
    </ion-content>
</ion-view>
